.menu-button{
    background-color: #dd910d;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.menu-button2{
    background-color: #e9c10f;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.menu-button3{
    background-color: #c87106;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


.registrar-button{
    background-color: #6042e6;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.aceptar-button{
    background-color: #0eba22;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.space-link {
    margin-bottom: 10px;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media (min-width: 640px) {
    .menu-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
